# HOW TO USE:
#
# 1 Add environment variables for local development.
# 2 Rename this file to .env and uncomment it's usage
#   in the serverless.yml.
# 3 Make sure to not commit this file.

STRIPE_SECRET_KEY=sk_test_51Hj0s7AI7HqswpuG6P59l0o5X3w9tEFiUfqFLQzmYLgM5a2uzkxh2MzTwrkOs5z6vGq2Qyj63ObjL5PduzL1rjTz00vwKK8nd0
